<!DOCTYPE html>
<html>
<head>
    <title>Stickies</title>
    <link rel="stylesheet" href="components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/styles.css"/>
    <link rel="stylesheet" href="css/stickies.css"/>
</head>
<body>
<div ng-app="app" ng-controller="MainController">

    <div class="navbar navbar-default">
        <a class="navbar-brand" href="#">Stickies</a>
        <ul class="nav navbar-nav">
            <li><span class="btn btn-default navbar-btn" ng-click="addStickyNote()">add sticky note</span></li>
        </ul>
    </div>

    <div stickies="stickies"
         on-delete-sticky-note="deleteStickyNote(stickyNote)"
         on-edit-sticky-note-meta="editStickyNoteMeta(stickyNote)">
    </div>

    <div modal="modal">
    </div>

    <script type="text/ng-template" id="editStickyNoteModal">
        <div class="modal-header">
            <button type="button" class="close" aria-hidden="true" ng-click="close()">×</button>
            <h4 class="modal-title" id="myModalLabel">Edit sticky note</h4>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label>color</label>
                <select class="form-control"
                        ng-model="stickyNote.themeId"
                        ng-options="theme.id as theme.name for theme in themes"></select>
            </div>
            <div class="form-inline">
                <div class="form-group">
                    <label>date</label>
                    <div date-input="stickyNote.date"></div>
                </div>
            </div>
        </div>
    </script>

</div>
<script type="text/javascript" src="components/angular/angular.min.js"></script>
<script type="text/javascript" src="js/main.js"></script>
</body>
</html>